.container_question {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 0;
  max-width: 800px;
  margin: auto;
  min-height: calc(100vh - 70px);


  &::after {
    content: "";
    background-image: url('../Body/fon3.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
  }
}

.container_question .questionItem {
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(229, 186, 193);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.container_question .answerItem {
  font-weight: normal;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

h2 {
  padding-top: 30px;
  text-align: center;
}
